langchain==0.2.16
langchain-core==0.2.43
langchain-community==0.2.16
sentence-transformers==2.2.2
huggingface_hub==0.20.3
faiss-cpu
transformers==4.36.2

langchain-google-genai == 0.0.9
langchain-groq==0.1.5
faiss-cpu
streamlit
python-dotenv
pymupdf
docx2txt
pypdf
